{% if cors_hosts is defined %}
CORS_HOSTS={{ cors_hosts }}
{% endif %}
CUSTOM_CACHE_SIZE={{ pihole_custom_cache_size | default(10000) }}
DHCP_ACTIVE={{ pihole_enable_dhcp | default("false") }}
{% if pihole_dhcp_start is defined %}
DHCP_START={{ pihole_dhcp_start }}
{% endif %}
{% if pihole_dhcp_end is defined %}
DHCP_END={{ pihole_dhcp_end }}
{% endif %}
{% if pihole_dhcp_router is defined %}
DHCP_ROUTER={{ pihole_dhcp_router }}
{% endif %}
DHCP_LEASETIME={{ pihole_dhcp_leasetime | default(24) }}
DHCP_IPv6={{ pihole_dhcp_ipv6 | default("false") }}
DNSMASQ_LISTENING=all
DNSSEC={{ pihole_dnssec | default("false") }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv | default("true") }}
DNS_FQDN_REQUIRED={{ pihole_fqdn_required | default("true") }}
PIHOLE_DOMAIN={{ pihole_domain_name | default("local") }}
FTLCONF_LOCAL_IPV4={{ pihole_server_ip }}
HOSTNAME=pihole
INTERFACE=tap0
PIHOLE_DNS_=127.0.0.1#5335;127.0.0.1#5335
QUERY_LOGGING={{ pihole_query_logging | default("true") }}
TEMPERATUREUNIT={{ pihole_temperature_unit | default("c") }}
TZ={{ pihole_timezone }}
WEBPASSWORD_FILE=/run/secrets/webpassword
WEBTHEME={{ pihole_web_theme | default("default-dark") }}
WEBUIBOXEDLAYOUT={{ pihole_webuiboxedlayout | default("boxed") }}
## Experimental ##
{% if pihole_dnsmasq_user is defined %}
DNSMASQ_USER={{ pihole_dnsmasq_user }}
{% endif %}
{% if pihole_uid is defined %}
PIHOLE_UID={{ pihole_uid }}
{% endif %}
{% if pihole_gid is defined %}
PIHOLE_GID={{ pihole_gid }}
{% endif %}
{% if pihole_web_uid is defined %}
WEB_UID={{ pihole_web_uid }}
{% endif %}
{% if pihole_web_gid is defined %}
WEB_GID={{ pihole_web_gid }}
{% endif %}
{% if pihole_weblogs_stdout is defined %}
WEBLOGS_STDOUT={{ pihole_weblogs_stdout }}
{% endif %}
